import os

db_user = os.getenv("DB_USER", "")
db_password = os.getenv("DB_PASSWORD", "")
db_database = os.getenv("DB_DATABASE", "")
db_port = os.getenv("DB_PORT", 5432)
db_host = os.getenv("DB_HOST", "127.0.0.1")
debug = os.getenv("DEBUG", True)

redis_host = os.getenv("REDIS_HOST", "127.0.0.1")
redis_port = os.getenv("REDIS_PORT", 6379)

JWT_SECRET = "some-secret-jwt-token"
JWT_ALGORITHM = "HS256"
JWT_EXP_DELTA_SECONDS = 3000
