<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Game server</title>
    <link rel="stylesheet" href="{{ static_url("main.css") }}" type="text/css">
    {% block head %}{% end %}
  </head>
  <body>
    <div id="body">
      <div id="header">
        <div style="">
          {% if current_user %}
            <a href="/players/{{ current_user.id }}/">{{ current_user.nickname }}</a> /
            <a href="/rooms">{{ _("Rooms") }}</a> /
            <a href="/games">{{ _("Games") }}</a> /
            <a href="/auth/logout?next={{ url_escape(request.uri) }}">{{ _("Log out") }}</a>
          {% else %}
            {% raw _('<a href="%(url)s">Sign in</a>') % {"url": "/auth/login?next=" + url_escape(request.uri)} %}
            {% raw _('<a href="%(url)s">Sign Up</a>') % {"url": "/auth/sign-up?next=" + url_escape(request.uri)} %}
          {% end %}
        </div>
      </div>
      <div id="content">{% block body %}{% end %}</div>
    </div>
    {% block bottom %}{% end %}
  </body>
</html>